
.l-container {
  background-color:#fff;
  width:980px;
  padding:0 20px;
  margin:0 auto;
}

.l-footer {
  margin-top:80px;
  padding:20px;
  border-top: 2px solid #7b256c;
}

.l-menu > li {
  float:left;
  width:25%;
  text-align:center;
}

.l-menu > li a {
  color:#fff;
  display:block;
  font-weight:bold;
  line-height:2em;
}

.l-menu > li > a:hover {
  text-decoration:underline;
}
.l-menu > li > a.is-selected {
  background-color:#fff;
  color:#7b256c
}
/* column styles */
.l-row {
  overflow:hidden;
}
.l-row > .l-col {
  float: left;
  margin-bottom: -99999px;
  padding-bottom:99999px;
  min-height: 400px;
  margin-right:20px;
}
.l-row > .l-col:first-child {
  width:600px
}
.l-row > .l-col:last-child {
  margin-right:0;
  width:280px;
}
.l-col-grey {
  background-color:#ECECEC;
}
.l-breather {
  padding:20px
}
.l-breather-horizontal {
  padding:20px 0
}
.l-clr:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.l-underlined {
  border-bottom:solid 1px #d3cfc9;
}
.l-smaller {
  font-size:0.875em;
}
.l-smaller2 {
  font-size:0.75em;
}


